<div class="row">
    <div class="col col-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4>Over de applicatie</h4>
          <p class="card-text">
            Deze applicatie is bestemd voor iedereen die een voetbalteam coacht. Je kan hier al je spelers toevoegen, matchen aanmaken, statistieken tonen...
          </p>
        </div>
      </div>
    </div>
  
    <div class="col col-12 mt-2">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title">Auteur</h4>
          <p class="card-text">Robbert Van Hove</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-envelope"></i><a href="mailto:robbertvanhove1@gmail.com&">robbertvanhove1@gmail.com</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-phone"></i><a href="tel:+32499160402">+32 499 16 04 02</a>
          </li>
        </ul>
      </div>
    </div>
  </div>